html,body,p,span,div,a,ul,li {
    margin: 0;
    padding:0;
}
html,body {
    width:100%;
    height: 100%;
    font-family: "微软雅黑";
}
body {
    background: url(../login/img/bg1.png)no-repeat center;
    background-size: 100% auto;
}
.login {
    position: absolute;
    width:350px;
    height:280px;
    top:50%;
    left: 50%;
    margin-left: -175px;
    margin-top:-140px;
    border:1px solid #c0c0c0;
    text-align: center;
    background: rgba(16, 49, 99, 0.75);
    color: #FFFFFF;
    border-radius: 5px;
}
.error-tip {
    position: absolute;
    display: none;
    top: 23%;
    left: 50%;
    color: #FFFFFF;
    background-color: red;
    font-size: 18px;
    border-radius: 6px;
    width: 250px;
    text-align: center;
    min-height: 34px;
    line-height: 33px;
    margin-left: -125px;
}
.login-info {
    margin-top: 20px;
}
input{outline:none}
.login-text {
    width: 263px;
    height: 35px;
    border-radius: 9px;
    border: none;
    padding-left: 13px;
    font-size: 18px;
}
.login-text-error {
    box-shadow: 0px 0px 7px red;
}
.login-btn {
    width: 266px;
    margin-top: 25px;
    height: 31px;
    border-radius: 7px;
    border: none;
    background-color: #26b7a3;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 21px !important;
}
.login-btn:hover {
    background-color: #1cc7b0;
}
.rememberpwd i {
    background: url(../login/img/polaris.png)no-repeat;
    display: inline-block;
    vertical-align: top;
    width: 24px;
    height: 17px;
    background-position: -33px -6px;
    margin-top: 3px;
    /*#23f364*/
}
.isremember{
    background-position: -62px -6px !important;
}
.rememberpwd {
    float: left;
    margin-left: 33px;
    margin-top: 10px;
    cursor: pointer;
}
.forgetpwd {
    float: right;
    margin-right: 33px;
    margin-top: 10px;
}
.forgetpwd a {
    text-decoration: none;
    color: #d6c5c5;
}
.forgetpwd:after{
    clear: both;
}