@font-face {
    font-family:"hyk2gj";
    src: url(../font/HYk2gj.ttf);
}
html,body,div,p,span,a,button {
    margin: 0;
    padding: 0;
}
html,body {
    width: 100%;
    height: 100%;
    background-color: rgb(245,252,253);
    min-height: 496px;
    min-width: 1217px;
}
.login-page {
    width: 100%;
    height: 100%;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.top {
    width: 1200px;
    height: 70px;
    position: relative;
}
.power-logo {
    display: inline-block;
    width: 261px;
    height: 70px;
    margin-top: 10px;
}
.country-logo {
    display: inline-block;
    position: absolute;
    left: 0;
    margin-left: 59px;
    margin-top: 19px;
    width: 100px;
    height: 40px;
    background: url(/app/login/img/country-logo.png);
    background-size:100% 100%;
}
.login-company {
    display: inline-block;
    position: absolute;
    left: 0;
    bottom: 2px;
    color: #2b8784;
    font-size: 18px;
    font-weight: bold;
    margin-left: 61px;
    border-top: 2px solid#2b8784;
}
.sys-title {
    display: inline-block;
    position: absolute;
    height: 40px;
    line-height: 40px;
    font-size: 25px;
    bottom: 0;
    right: 0;
    color: rgb(20,122,98);
    font-family: hyk2gj;
}
.main {
    width: 100%;
    height: 85%;
    position: relative;
    background-color: rgb(20,122,98);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;

    background: url("../img/login-bg.jpg");
    background-size: 100% 100%;
}
.sub-main {
    width: 1200px;
    height: 100%;
}
.login-img {
    float: left;
    width: 60%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: -webit-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.login-tower-img {
    width: 100%;
    height:42%;
    background: url("/app/login/img/loginTower1.png") no-repeat;
    background-size: 100% 100%;
}
.login {
    float: right;
    width: 40%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
}
.login:after {
    clear: both;
}

.login-from {
    position: absolute;
    right: 0;
    width: 400px;
    height: 370px;
    background: rgba(67,149,129,.6);
    border-radius: 8px;
    color: #FFFFFF;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 22px;
    top: 50%;
    margin-top: -185px;
}
input[type=text],input[type=password] {
    width: 289px;
    height: 37px;
    padding: 0 32px;
    border-radius: 5px;
    border: navajowhite;
    outline: navajowhite;
}
.login-item {
    margin: 25px 0;
    position: relative;
}
.iconfont {
    position: absolute;
}
.login-btn {
    background-color: rgb(255,120,0);
    color: #ffffff;
    width: 352px;
    height: 34px;
    border: navajowhite;
    outline: navajowhite;
    cursor: pointer;
    margin-top: 29px;
}
.login-icon {
    display: inline-block;
    position: absolute;
    margin-top: -26px;
    margin-left: 8px;
    color: #666;
    cursor: text;
}
.login-rempwd {
    display: inline-block;
    width: 19px;
    height: 19px;
    vertical-align: middle;
    cursor: pointer;
    background-color: #ffffff;
}
.login-rempwd.checked {
    background: url(../img/rememberpwd.png) no-repeat;
    background-size: 100% 100%;
    background-color: #ffffff;
}
.remember-btn {
    text-decoration: none;
    color: #ffffff;
}
.remember-btn:hover {
    color: #ecd8d8;
}
.bottom {
    text-align: center;
    font-size: 12px;
    color: #666666;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.line-sp {
    display: inline-block;
    width: 2px;
    height: 10px;
    background-color: #666666;
    margin: 0 5px;
}
.error-tip {
    position: absolute;
    display: none;
    right: 0;
    top: 0;
    margin-right: 25px;
    margin-top: 20px;
    width: 254px;
    text-align: center;
    background-color: rgb(255,120,0);
    color: #ffffff;
    height: 34px;
    line-height: 34px;
    z-index: 999;
    border-radius: 5px;
}